<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
      
    <head>
        <title>Show Product</title>
        <link rel="stylesheet" href="/css/style.css" />  
    </head>
    <body>

        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/producto" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Product</a>
                </h3>
                <h2 th:text="${producto.descripcion}"></h2>
                <dl class="list">
                    <dt>Product Description</dt>
                    <dd th:text="${producto.descripcion}"></dd>
                    <dt>Product Description</dt>
                    <dd th:text="${producto.estado}"></dd>
                </dl>
                
                 
                <form action="/delete">
                    <input type="hidden" name="id" th:value="${producto.id}" />
                    <h2><input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure?');" />
                        <a th:href="@{'/edit/' + ${producto.id}}" class="btn btn-warning">Edit</a></h2>
                </form>
                
   		</div>
	</div>                 
                 


    </body>
</html>